.day-box {
    border-style: solid;
    border-width: 1px;
    margin: 1px;
    display: flex;
}
#unicodes {
    color:#d9bc2b;
}
.day-box-children {
    margin-right: 15px;
}
#regular-dayname {
    color: black;
}
#holiday-dayname {
    color: red;
}
#duty-day {
    background-color: turquoise;
}
#duty-night {
    background-color: #2b55ab;
}